#--------------------------------------------------------------------------------
# These tokens are needed for user authentication.
# Credentials can be generates via Twitter's Application Management:
#	https://apps.twitter.com/app/new
#--------------------------------------------------------------------------------

consumer_key = “XxXxXxxXXXxxxxXXXxXX”
consumer_secret = “xXXXXXXXXxxxxXxXXxxXxxXXxXxXxxxxXxXXxxxXXx”
access_key = “XXXXXXXX-xxXXxXXxxXxxxXxXXxXxXxXxxxXxxxxXxXXxXxxXX”
access_secret = “XxXXXXXXXXxxxXXXxXXxXxXxxXXXXXxXxxXXXXx”

#--------------------------------------------------------------------------------
# MQTT Config
#--------------------------------------------------------------------------------

mqtt_hostname = 'your.mqttserver.com'
mqtt_port = 4444

mention_monitore = 'your_username_to_monitore'
track = '#hash1,#hash2'

green_light = '/your_topic_for_green_light'
red_light = '/your_topic_for_red_light'
blink = '/your_topic_for_blinking'